*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.header{
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .brand{
    font-size: 24px;
    font-weight: bold;
    color: darkorange;
}
.header .links a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 18px;
}
.header .links a:hover{
    color: darkorange;
}

.header .links .active{
    color: darkorange;
}
.hero-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.hero-section .left{
    /* background-color: lightgray; */
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.hero-section .left h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero-section .left p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    padding: 8px 30px;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 99px;
    border:none;
}

.hero-section .right{
    /* background-color: lightcoral; */
    height: 600px;
}
.hero-section .right img{
    width:100%;
    height:auto;
}

.small-container{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}
.grid-x3{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap:10px;
 margin-top:60px;
 margin-bottom:60px;
}

.grid-x3 .category img{
    width:100%;
    height:auto;
}

.title{
    text-align: center;
    font-size: 32px;
    margin-top:40px;
    margin-bottom: 40px;
}

.grid-x4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    margin-bottom:60px;
}

.card{
    border: 1px solid #ddd;
}
.card .card-img{
    width:100%;
    height:300px;
}
.card .card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card .card-content{
    padding:8px;
}
.card .card-content .card-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.card .card-content .card-price{
    color: darkorange;
    font-size: 18px;
}
.card .card-content .rating{
    color: gold;
    margin-bottom: 10px;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 40px;
}

